/* yellow: #FFCE00 */
/* gray: #4A4A4A */
/* light gray: #D8D8D8 */
/*F2F2F2*/
/*coral: #fa7e68; */
/*orangey: fa9668*/


@font-face {
	font-family: Frutiger-Roman;
	src: url(fonts/FrutigerLTStd-Roman.otf);
}

@font-face {
	font-family: Frutiger-Light;
	src: url(fonts/FrutigerLTStd-Light.otf);
}

@font-face {
	font-family: Frutiger-Bold;
	src: url(fonts/FrutigerLTStd-Bold.otf);
}

@font-face {
	font-family: Frutiger-Black;
	src: url(fonts/FrutigerLTStd-Black.otf);
}

div {
	 font-family: -apple-system, BlinkMacSystemFont,
    “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”,
    “Fira Sans”, “Droid Sans”, “Helvetica Neue”,
    sans-serif;
}

/*used for big intro header*/
h1 {
	font-size: 2.7em;
	margin: 2rem 0 1rem 0;
	font-weight: bold;
}

/*used for titles and hover titles*/
h2 {
	font-size: 2.3em;
	font-weight: bold;
	margin-top: 1rem;
}

/*used for project section titles*/
h3 {
	font-size: 1.7em;
	font-weight: bold;
	margin-top: 1rem;
	color: #5e5e5e;

}

/*used for hover captions*/
h4 {
	font-size: 1.2em;
}

/*used for small caps labels*/
h5 {
	margin-top: 3em;
	font-size: 0.85em;
	text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: #fa7e68;

}

h5.dark {
	color: black;
}

h5.center {
	text-align: center;
}

p{
	color: #4A4A4A;
	line-height: 1.7em;

}

ul {
	list-style-type: disc;
}

/* NAV */

a {
	color: #4A4A4A;
	font-weight: bold;
}

a:hover {
	/*color: #D8D8D8;*/
	/*font-weight: bold;*/
}

#nav {
	padding-top: 15px;
	font-weight: lighter;
    font-size: 0.85em;

}


.nav ul {
	list-style-type: none;
    margin: 0;

}

#nav .icon {
	display: none;
}
/*
span.nav {
	vertical-align: middle;
}*/


ul.browser-default {
  padding-left: 40px;
}
ul.browser-default li {
  list-style-type: inherit;
}







#logo {
	float: left;
	font-weight: bold;
	color: #ffa400;
	font-size: 1.7em;
	letter-spacing: 1px;
	padding: 25px;
	vertical-align:middle;
}

/*#logo img {
	max-width: 60%;
}*/

#logo a {
	/*color: #FFCE00;*/
	color: #fa7e68;
}

li.nav {
	display: inline;
	float: right;
	padding: 25px;
	letter-spacing: 2px;
}



/* WORK */

p.caption {
	margin-block-start: 0.5em;
	margin-block-end: 2em;


	font-size: 0.7em;
}

.project-section {
	padding-bottom: 3em;
}

.about {
	margin-top: 3%;
}

.content img{
	width: 100%;

}

.row {
	margin-bottom: 0;
}



#intro {
	/*text-align: center;*/
	margin-bottom: 2em;
	padding: 25px;
	color: #4A4A4A;
	/*color: #D8D8D8;*/
}

#intro h1 {
	/*font-weight: normal;*/
	line-height: 1.5em;
}

#intro h3 {
	font-weight: normal;
	line-height: 1.4em;
}

#intro h4 {
	line-height: 1.4em;
}

#intro p {
	/*margin-top: 8%;
	margin-bottom: 5%;*/
	text-align: left;
}

#intro em {
	/*color: #FFCE00;*/
	font-style: normal;
	color: #fa7e68;

}

#work {
	margin: auto;
	padding-top: 2%;
}

.projects-grid {
	/*width: 90%;*/
	width: 100%;
	text-align: center;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}


.project img {
	flex-shrink: 0;
	height: auto;
	width: auto;
	max-width: 550px;
	max-height: 400px;

	display: block;
	object-fit: cover;
	overflow: hidden;

}
.project {

	max-width: 550px;
	max-height: 400px;
	
	vertical-align: top;
	margin: 1%;

	display: flex;
	justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    /*padding: 50%;*/
    /*margin-right: 10%;*/


	
}


.overlay {
	 position: absolute;
	 /*position: fixed;*/
	 top: 0;
	 bottom: 0;
     left: 0;
     right: 0;
     height: 100%;
     width: 100%;
     opacity: 0;
     transition: .5s ease;
     /*background-color: #FFCE00;*/
     	background-color: #fa9668;

     text-align: center;

}

.project:hover .overlay {
  	 opacity: 1;
}

.text {
	 
	 position: absolute;
	 top: 25%;
  	 left: 25%;
  	 /*right: 50%;*/
  	
	 /*text-align: left;*/
	 text-align: center;
	 width: 50%;
	
}

/* HOVER UNDERLINE */
.custom-underline {
  position: relative;
  display: inline-block;

  text-align: center;
}

.custom-underline,
.custom-underline:hover,
.custom-underline:focus,
.custom-underline:active {
  text-decoration: none;

}

.custom-underline:hover {
  /*font-weight: bold;*/

}

.custom-underline::after {
  content: "";
  position: absolute;
}


.link-container .custom-underline::after {
  top: 100%;
  height: 3px;
  width: 0%;
  left: 3%;
  /*background-color: #FFCE00;*/
  	background-color: #fa7e68;

    transition: 0.5s ease all .3s;
}

.link-container:hover .custom-underline::after {
  /*font-weight: bold;*/
  width: 90%;
    transition: 0.3s ease all;

}

.link-container:hover {
	/*font-weight: bold;*/
}

/* PREV NEXT */

.next {
	text-align: right;
}

.prev {
	text-align: left;
}
.align-text {
	vertical-align: super;
}

.prev-next p {
	font-weight: normal;
}


/* FOOTER */

footer {
	background-color: #F2F2F2;
	padding-bottom: 3%;
}

.footer {
	margin-top: 4%;
	margin-bottom: 5%;
	padding-top: 2%;
	font-size: 0.85em;
	color: gray;
	/*background-color: #D8D8D8;*/
}

/*.footer a {
	font-weight: bold;
	color: #4A4A4A;

}*/

.footer li {
	display: inline;
	float: right;
	padding-left: 10px;
	/*font-weight: bold;*/

	/*letter-spacing: 2px;*/
}

.footer img{
	display: block;
	margin: auto;
	text-align: center;
	max-width: 7%;

}

.footer .row {
	padding-top: 2%;
	padding-left: 2%;
	padding-right: 2%;

}

#center{
	text-align: center;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid  #E5E5E5;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0
}

.links{
	float: right;

}

/* PROJECTS */
.contain {
	object-fit: contain;
	max-width: 100%;
	max-height: 100%;
}

/* ANIMATION */

/* ----------------------------------------------
 * Generated by Animista on 2018-11-26 14:29:32
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */


.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/* BG COLORS */
.gray {
	background: #D8D8D8;
	background: #F2F2F2;
}

.prototype {
	margin:0;
	padding: 0;
	
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

/*iframe {

	width: 716px;
	height: 658px;
}*/

.resp-iframe {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* SCROLLREVEAL */
/*html.sr .row {
    visibility: hidden;
}*/
/*html.sr .footer {
    visibility: hidden;
}*/

/* MEDIA QUERIES */
@media screen and (max-width: 600px) {
  li.nav {
  	display: none;
  }
  #nav .icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .nav.responsive {
  	position: relative;
  }
  .nav.responsive .icon {
    /*position: absolute;*/
    float: right;
    display: block;
  }
  .nav.responsive li {
    float: none;
    display: block;
    text-align: right;
  }
}